html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    
}


*, *:before, *:after {
  box-sizing: inherit;
}


.busqueda{
    margin-top: -5rem;
  }
  
  .search input[type=text]{
    width:500px;
    height:30px;
    border-radius:1rem;
    border: none;
    margin-top: 15rem;
    margin-left: -50rem;
  }
      
  .search{
    float:right;
    margin:7px;
    
  }
      
  .search button{
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 8px 10px;
    margin-right: 50rem;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-top: 15rem;
    border-radius: 1rem;
  
  } 

  .log-usua{
    margin-top: 14rem;
    margin-left: 30rem;
  }




table, th, td{
    border:solid black 1px ;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
    background: #f2f2f2;
}
table{
    width: 100%;
    height: 30rem;
    margin-top: 3rem;
}

th{
    background-color: #b4b4f3;
}


.buton{
    margin-top: 5rem;
    margin-left: 50rem;
}

.buton select{
    border-radius: 5px;
    background-color: #8c8cf0;
    width: 20rem;
    height: 3rem;
    margin: 1rem;
}

.butons button{
  border-radius: 10px;
  font-size: 18px;
    background-color: #b4b4f3;
  justify-content: center;
   border: none;
    width: 20rem;
    height: 8rem;
    margin: 10rem;
}

.butons{
    display: flex;
    justify-content: center;
}


.check{
  margin-bottom: -2.3rem;
}

.boton-descargar{
  margin-left: 70rem;
  margin-top: 5rem;
}

.boton-descargar button{
    background: #8c8cf0;
    padding: 7px;
    width: 100px;
    border: 1px solid black;
    color: black;
    font-size: 14px;
    border-radius: 50px;
    cursor: pointer;
}

.boton-descargar button:hover{
  background: #6565fa;
}

.titulo1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.titulo1 button {
  border: none;
  width: 20%;
  background: white;
  font-size: 30px;
}

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgb(0,0,0,0.5);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.botones4 {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}
.botones4 button{
  border-radius: 10px;
  font-size: 18px;
   margin: -5px;
   border: none;
    width: 150%;
    height: 100%;
    background: #8c8cf0;
    margin-top: 30%;
}
.modal1 {
  width:25% ;
  height: 350px;
  background: #b4b4f3;
  border-radius: 10px;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
}

.modal1 input {
  border: none;
  border-radius: 5%;
}


.titulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.fecha { 
  margin-top: 20px;
display: grid;
grid-template-columns: repeat(2,1fr);
font-size: 30px;

}

.Registrar {
  border-radius: 10px;
  font-size: 40px;
    background-color: #b4b4f3;
  justify-content: center;
   border: none;
    width: 50%;
    height: 8rem;
    margin: 9rem;
}

.modal2 {
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgb(0,0,0,0.5);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.modal3 {
  width:30% ;
  height: 70%;
  background: #b4b4f3;
  border-radius: 10px;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
  
}
.modal3 input {
  border: none;
  border-radius: 5%;
}
 
.botones5 {
  
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  place-items: center;
}

.botones5 button{
  border-radius: 10px;
  font-size: 18px;
   border: none;
    background: #8c8cf0;
    padding: 10px 15px;
}

.Limpieza { 
  margin-top: 20px;
display: grid;
grid-template-columns: repeat(2,1fr);
font-size: 15px;

}

.modal21 {
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgb(0,0,0,0.5);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.modal31 {
  width:30% ;
  height: 70%;
  background: #b4b4f3;
  border-radius: 10px;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
  
}
.modal31 input {
  border: none;
  border-radius: 5%;
}