.search input[type=text]{
  width:500px;
  height:30px;
  border-radius:1rem;
  border: none;
  margin-top: 1rem;
  margin-left: -5rem;
}
    
.search{
  float:right;
  margin:7px;
  
}
    
.search button{
  background-color: #0074D9;
  color: #f2f2f2;
  float: right;
  padding: 8px 10px;
  margin-right: 25rem;
  font-size: 12px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 1rem;
} 

.bode{
  background-image: url(https://static.wixstatic.com/media/21e306_a641484b704b43baa1cf53aacaa18d2b~mv2.jpeg/v1/fill/w_560,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/21e306_a641484b704b43baa1cf53aacaa18d2b~mv2.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}