html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    background-image: linear-gradient(#5695D5,#C1E3FF);
    height: 100vh;
}


*, *:before, *:after {
  box-sizing: inherit;
}


.busqueda{
    margin-top: -5rem;
  }
  
  .search input[type=text]{
    width:500px;
    height:30px;
    border-radius:1rem;
    border: none;
    margin-top: 15rem;
    margin-left: -50rem;
  }
      
  .search{
    float:right;
    margin:7px;
    
  }
      
  .search button{
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 8px 10px;
    margin-right: 50rem;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-top: 15rem;
    border-radius: 1rem;
  
  } 


  .log-usua{
    margin-top: 14rem;
    margin-left: 30rem;
  }

  /*Contenedor registrar*/

  .contenedor-registrar{
      border: solid black 1px;
      margin-left: 50rem;
      width:  35%;
      height: 55rem;
      background: #CED3FB;
      margin-top: 6rem ;
      border-radius: 1rem;
  }

  .contenedor-registrar label{
      font-size: 20px;
      margin-left: 3rem;
  }
  h1{
      text-align: center;
  }
  .select{
      margin-left: 5rem;
  }

  .rol{
      margin-right: rem;
  }

  .select h2{
      margin-left: -2rem;
      font-size: 1.9rem;
  }
 
.botons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

 
/*Modal*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
 
}

.salir{
  display: inline-block;
  text-decoration: none;
  background: #456b37;
  padding: 7px;
  width: 100px;
  border: 1px solid #fff;
  color: white;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
  margin-left: 3rem;
}

.salir:hover{
  background: #72ee14;
}

.boton{
  font-size: 14px;
  display: inline-block;
  padding: 7px;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #456b37;
}

.boton:hover{
  background: #72ee14;
}

.log{
  margin-top: 3rem;
}


section{
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 40px;
}

.lista h2{
  font-size: 20px;
  margin-left: -1rem;
}



.modal-container{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 40%;
  height: 30%;
  background: #fff;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction:column ;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
  border-radius: 10px;
}

.close{
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #c44a4a;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.modal-close{
  transform: translateY(-200%);
}

@media screen and (max-width: 1000px){
  section{
      flex-direction: column-reverse;
      align-content: center;
      }
      
      .container-recuper{
          text-align: center;
      }
}

/*productos que provee*/
.lista{
  margin-left:4rem ;
}

.modiproveedor{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.modiproveedor input{
  width: 70%;
  margin-top: 20px;
}
.modiproveedor label{
  margin-top: 20px;
}
.lista h2{
  display: flex;
  justify-content: center;
}