

.contenedor {
    margin-top: 5rem;
}

.float-right {
    float: right;
}

.aling{
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-left: 56rem;
    padding: 1rem;
    font-size: 2rem;
}

table, th, td{
    border:solid black 1px ;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
    background: #f2f2f2;
}
table{
    width: 60%;
    height: 15rem;
    margin-top: 3rem;
    margin-left: 25rem;
}

th{
    background-color: #b4b4f3;
}

h4{
    font-size: 3rem;
    text-align: center;
}

.form-label{
    font-size: 2rem;
}

.form-control{
    border-radius: 2rem;
}

.colum-2{
    display: flex;
    justify-content: center;
}

.boton{
    margin-left: 50px;
}